*{ margin: 0; padding: 0; }
body{ width: 100%; height: 100%; }
ul{ list-style: none; }
a{ 
	text-decoration: none;
	color: inherit; 
}
header{ 
	position: relative;
	width: 100%;
	text-align: center;
	height: 80px;
	background: white;
	z-index: 9;
}
#subject{
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	line-height: 80px;
}
/*#addBtn{*/
	/*float:right;*/
	/*line-height: 90px;*/
	/*margin-right: 20px;*/
/*}*/
.container{
	position: absolute;
	width: 100%; height: 100%;
	margin: 0px auto;
	perspective: 800px;
	overflow: hidden;
	box-sizing: border-box;
}
.wrapper{
	width: 100%; height: 100%;
	position: relative;
	margin: auto;
	transform-style: preserve-3d;
	transition-duration: 1s;
}


.wrapper > .page{ 
	position: absolute;
	width: 100%; height: 100%;
	position: absolute;
	left: 0; top: 0;
	padding-top: 80px;
	backface-visibility: hidden;
}
.page > h1{ 
	padding: 20px; 
	color: white;
}
.wrapper > .page:nth-child(1){
	background-image: url('../images/img01.jpg');
	background-size: cover;
}
.wrapper > .page:nth-child(2){
	background-image: url('../images/img02.jpg');
	background-size: cover;			
}	
.wrapper > .page:nth-child(3){
	background-image: url('../images/img03.jpg');
	background-size: cover;	
}
.wrapper > .page:nth-child(4){
	background-image: url('../images/img04.jpg');
	background-size: cover;				
}							

#indicator{ 
	text-align: center; margin-top: 20px;
	position: absolute;
	left: 0;right: 0; bottom: 20px;
}
#indicator li{
	display: inline-block;
	font-size: 12px;
	padding: 5px 10px; margin: 5px;
	border: 1px solid #999;
	border-radius: 50%;
	color: white;
	cursor: pointer;
}
#indicator li.active{ 
	background-color: rgba(50%,50%,50%, 0.5);
	color: white;
}

ul.icons{
	overflow: hidden;
	padding: 64px;
	/*padding-bottom:0;*/
}
ul.label{
	overflow:hidden;
	padding:64px;
	padding-top: 7px;
}
ul.icons > li{
	display: inline-block;
	border-radius: 15px;

}
ul.icons > li >a {

	/*display: inline-block;*/
	display: block;
	margin: 0 24px 64px 24px;
	margin-bottom:0;
	background: #999;
	padding: 10px;
	width: 48px; height: 48px;
	border-radius: 15px;
	text-align: center;
	border: 1px solid rgba(100, 100, 100, 0.3);
	color: white;
}

.icons span {

	display: inline-block;
	margin: 5px 24px 64px 24px;
	/*background: rgba(0, 0, 0, 0.2);*/
	color: rgb(255, 255, 255);
	font-size: 14px;
	padding: 3px 10px 3px 10px;
	width: 48px; height: 15px;
	/*border-radius: 7px;*/
	text-align: center;
	/*border: 1px solid rgba(41, 100, 86, 0.3);*/
}


.icons  a:active{
	-webkit-transition: all 0.1s;
	transform: scale(0.8);
}
.icons li  a{
	/*padding: 0.75em 2em;*/
	/*text-align: center;*/
	text-decoration: none;
	/*color: #2194E0;*/
	/*border: 2px solid #2194E0;*/
	/*font-size: 24px;*/
	display: inline-block;
	border-radius: 0.3em;
	transition: all 0.2s ease-in-out;
	position: relative;
	overflow: hidden;
}
.icons li a:before {

	content: "";
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 3em;
	display: block;
	position: absolute;
	top: 0;
	left: -4.5em;
	-webkit-transform: skewX(-45deg) translateX(0);
	transform: skewX(-45deg) translateX(0);
	transition: none;
}

.icons li a:hover {
	background-color: #2194E0;
}
.icons li i :hover {
	background:none;
}
.icons li  :hover:before {
	-webkit-transform: skewX(-45deg) translateX(13.5em);
	transform: skewX(-45deg) translateX(13.5em);
	transition: all 0.5s ease-in-out;
}


/*modal*/
.sign {
	background-color: #444;
	height: 34px;
	padding: 10px;
	text-align: center;
}
.sign a#addBtn, .sign a#login_pop, .sign a#join_pop{
	border: 2px solid #aaa;
	color: #fff;
	display: block;
	/*float: left;*/
	text-align: center;
	width: 200px;

	margin: auto;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 1px 1px #000;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	/*font-family:'dotum';*/
}


/*modal*/
.panel {
	background-color: #444;
	height: 34px;
	padding: 10px;
	text-align: center;
}
.panel a#addBtn, .panel a#login_pop, .panel a#join_pop{
	border: 2px solid #aaa;
	color: #fff;
	display: block;
	/*float: left;*/
	text-align: center;
	width: 200px;

	margin: auto;
	padding: 5px 10px;
	text-decoration: none;
	text-shadow: 1px 1px #000;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	/*font-family:'dotum';*/
}
a#addBtn:hover,a#login_pop:hover, a#join_pop:hover{

	border-color: #eee;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	cursor: default;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 1;

	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	background-color: #fff;
	border: 3px solid #fff;
	display: inline-block;
	left: 50%;
	opacity: 0;
	padding: 15px;
	position: fixed;
	text-align: justify;
	top: 40%;
	visibility: hidden;
	z-index: 10;

	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	-moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	-ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	-o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;

	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
}
.overlay:target+.popup {
	top: 50%;
	opacity: 1;
	visibility: visible;
}
.close {
	background-color: rgba(126, 126, 126, 0.8);
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: -10px;
	text-align: center;
	text-decoration: none;
	top: -15px;
	width: 30px;

	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}
.close:before {

	color: rgba(255, 255, 255, 0.9);
	content: "x";
	font-size: 24px;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
	background-color: rgba(33, 148, 224, 0.8);
}
.popup p, .popup div {
	margin-bottom: 10px;
}
.popup label {
	display: inline-block;
	text-align: left;
	width: 50px;
}
.popup input[type="text"],.popup input[type="password"] {
	font-size: 15px;
	width: 250px;
	border: 1px solid;
	border-color: #999 #ccc #ccc;
	margin: 0;
	padding: 10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.popup input[type="text"]:hover,.popup input[type="password"]:hover {
	border-color: #555 #888 #888;
}
#save{
	/*font-size:17px;*/
	/*padding: 0 20px 0 20px;*/
	/*text-align: center;*/
	/*margin-left: 120px;*/
margin: auto;
	/*border: 2px solid #cccccc;*/
	/*border-radius: 5px;*/


	display: block;
	/*margin: 0 24px 64px 24px;*/
	/*margin-bottom:0;*/
	background: #999;
	/*padding: 5px;*/
	width: 70px; height: 20px;
	border-radius: 15px;
	text-align: center;
	border: 1px solid rgba(100, 100, 100, 0.3);
	color: white;
}
/*#save:hover {*/
	/*background-color: rgba(33, 148, 224, 0.8);*/
/*}*/
#save :active{
	-webkit-transition: all 0.1s;
	transform: scale(0.8);
	transition: all 0.2s ease-in-out;

}
.popup{
	text-align: center;
}
#save{
	/*padding: 0.5em 3em;*/
	/*padding-bottom: 1.2em;*/
	padding: 0.7em 6.3em 3.5em 4em;
	text-align: center;
	/*text-decoration: none;*/
	/*color: #2194E0;*/
	/*border: 2px solid #2194E0;*/
	/*font-size: 24px;*/
	/*display: inline-block;*/
	border-radius: 0.3em;
	/*transition: all 0.2s ease-in-out;*/
	position: relative;
	overflow: hidden;
}
#save .fa-2x{
	font-size: 3em;
}
#save:before {

	content: "";
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 3em;
	display: block;
	position: absolute;
	top: 0;
	left: -4.1em;
	-webkit-transform: skewX(-45deg) translateX(0);
	transform: skewX(-45deg) translateX(0);
	transition: none;
}

#save:hover {
	background-color: #2194E0;
	cursor: pointer;
}
#save i :hover {
	background:none;
}
#save:hover:before {
	-webkit-transform: skewX(-45deg) translateX(16.5em);
	transform: skewX(-45deg) translateX(16.5em);
	transition: all 0.5s ease-in-out;
}
.icons img{
	width:100%;
}